[Unit]
Description=Unison backup sync
Documentation=https://www.cis.upenn.edu/~bcpierce/unison/docs.html

[Service]
Type=oneshot
ExecStart=/usr/bin/unison main -fat -ignorearchives -batch -root "/run/media/%u/Seagate Backup Plus Drive" -links true

[Install]
WantedBy=graphical.target
