[Unit]
Description=Periodic Unison backup sync
Documentation=https://www.cis.upenn.edu/~bcpierce/unison/docs.html

[Timer]
OnCalendar=*-*-* 0/4:00:00
Persistent=true

[Install]
WantedBy=default.target
