[Unit]
Description=Create a package list from the Arch Linux repos

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Qqem > $HOME/dotfiles/aur-packages.txt
ExecStart=/usr/bin/pacman -Qqen > $HOME/dotfiles/packages.txt

[Install]
WantedBy=default.target
