*foreground:   #e5e3e3
*background:   #221e21
*cursor:       #e5e3e3

*color0:       #0c080b
*color8:       #383437

*color1:       #A83D63
*color9:       #bf718d

*color2:       #D09177
*color10:      #dcaf9c

*color3:       #506699
*color11:      #6f81ab

*color4:       #B5659A
*color12:      #c98fb5

*color5:       #4DA6CE
*color13:      #7dbedb

*color6:       #aea0c7
*color14:      #bcb1d1

*color7:       #d1cfcf
*color15:      #eceaea

URxvt.font: xft:FiraCode Nerd Font:size=12
URxvt.secondaryWheel: 1

